h1 {
	float: left;
	text-shadow: 5px 2px blue;
}

.container {
	align-content: center;
	margin-top: 20px;

}

.img-responsive {
	float: right;
}

.jumbotron {
	/*background: url("..assets/images/bench_forrest gump.jpg");*/
}

.col-sm-3 {
	font-weight: bold;
	font-size: large;
	height: 100px;
}

.col-sm-6 {
	font-weight: bold;
	font-size: large;
	height: 100px;
}